

body {
    margin: 0px;
    background-color: rgb(10, 14, 17);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container {
    display: flex;
    margin-right: 250px;
    margin-left: 250px;
}
.container-left {
    display: flex;
    flex-direction: column;
    background-image: url(images/angus-gray-nNpxXaoN3og-unsplash.jpg);
    height: 100vh;
    width: calc(100vw * (2/5));
    color: rgb(230, 230, 230);
}

.logo {
    display: flex;
    background-color: rgba(0, 0, 0, .25);
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 20vh;
}

#odin-logo {
    width: 7rem;
    height: auto;
}

@font-face {
    font-family: Norse-bold;
    src: url('fonts/Norse-Bold.otf');
}

#odin-text {
    font-family: Norse-bold, sans-serif;
    font-size: 6rem;
}

.credit {
    margin-top: auto;
    align-self: center;
    padding: 10px;
    font-size: 1.1rem;
}
a:link, a:visited {
    color: rgb(230, 230, 230);
}

.container-right {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: calc(100vw * (3/5));
    background-color: rgb(231, 231, 231);
}

.form-top {
    font-size: 1.4em;
    font-weight: bold;
    color: rgb(48, 47, 47);
    padding: 130px 90px 65px 50px;
}

.form-body {
    background-color: rgb(248, 248, 248);
}

.login-form {
    padding: 30px 200px 30px 50px;
}

#form-title {
    font-size: 1.4rem;
    color: rgb(48, 47, 47);
    font-weight: bold;
}

label {
    display: block;
}

.form-row {
    display: flex;
}

.form-field {
    color: rgba(26, 25, 25, 0.8);
    font-family: 'Courier New', Courier, monospace;
    font-size: .9rem;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 15px 65px 15px 0;
}

.form-field input {
    border: 1px solid rgba(121, 121, 121, 0.308);
    border-radius: 5px;
    padding: 9px 12px;
    width: 250px;
    font-size: 1rem;
}

.form-bottom {
    font-size: 1em;
    font-weight: bold;
    color: rgb(48, 47, 47);
    padding: 55px 90px 65px 50px;
}

.form-bottom>button {
    padding: 15px 65px;
    background-color: rgb(163, 173, 20);
    color: white;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 25px;
}

a:link.log-in, a:visited.log-in {
    color: rgb(127, 134, 18);
    font-size: 1.1rem;
    text-decoration: none;
}