

body {
    margin: 0px;
    background-color: rgb(10, 14, 17);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container {
    display: flex;
    margin-right: 250px;
    margin-left: 250px;
}
.container-left {
    display: flex;
    flex-direction: column;
    background-image: url(images/angus-gray-nNpxXaoN3og-unsplash.jpg);
    height: 100vh;
    width: calc(100vw * (2/5));
    color: rgb(230, 230, 230);
}

.logo {
    display: flex;
    background-color: rgba(0, 0, 0, .25);
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 20vh;
}

#odin-logo {
    width: 7rem;
    height: auto;
}

@font-face {
    font-family: Norse-bold;
    src: url('fonts/Norse-Bold.otf');
}

#odin-text {
    font-family: Norse-bold, sans-serif;
    font-size: 6rem;
}

.credit {
    margin-top: auto;
    align-self: center;
    padding: 10px;
    font-size: 1.1rem;
}
a:link, a:visited {
    color: rgb(230, 230, 230);
}

.container-right {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: calc(100vw * (3/5));
    background-color: rgb(231, 231, 231);
}

.form-top {
    font-size: 1.4em;
    font-weight: bold;
    padding: 130px 90px 65px 50px;
}